<%#= render "posts/code_sample" %>
<%# require 'coderay' %>
<%#= CodeRay.scan('puts "Hello, world!"', :ruby).div %>
<%#= render "posts/code_sample", language: :ruby %>

<%#= raw(markdown("hey")) %>
<div class="mt-10 min-h-0 grid place-content-center">
  <div class="bg-gradient-to-r from-blue-400 to-indigo-600 rounded-2xl text-white p-8 text-center h-90 max-w-321 mx-auto">
    <div><%= image_tag "/images/sjn.png" %></div>
    <p class="text-sm pt-4 p-2"><p>Application for Employment</p>
    <div class="text-gray-100 text-lg pb-4">Lead Rails Developer</div>
  </div>

  <div class="bg-white py-8 px-10 text-center rounded-md shadow-lg transform -translate-y-2 sm:-translate-y-8 max-w-xs mx-auto">
    <h2 class="font-thin text-xl mb-2">For your consideration</h2>
    <!--<img class="w-20 h-20 object-cover rounded-full mx-auto shadow-lg" src="https://images.unsplash.com/photo-1611342799915-5dd9f1665d04?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="User avatar">-->
    <div><%= image_tag "/images/travis.png",  class: "w-24 h-24 object-cover rounded-full mx-auto shadow-lg" %></div>
    <p class="capitalize text-xl mt-1">Travis Glover</p>
    <!--<span class="flex items-center border rounded-full w-24 pr-2 justify-center mx-auto mt-2 mb-2"><div class="bg-green-400 rounded-full w-2.5 h-2.5 block mr-2"></div>Active</span>-->
    <!--<button class="rounded-md bg-gradient-to-r from-blue-400 to-indigo-500 text-xl text-white pt-3 pb-4 px-8 inline">More...</button>-->
  </div>
</div>


<div class="bg-white">
  <div class="max-w-3xl mx-auto p-8 mb-10">
    <div class="grid">
      <ul class="-mb-8">

        <li>
          <div class="relative pb-8">
            <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
            <div class="relative flex items-start space-x-3">
              <div>
                <div class="relative px-1">
                  <div class="h-8 w-8 bg-blue-500 rounded-full ring-8 ring-white flex items-center justify-center">
                    <span class="font-thin text-xl text-white">Q</span>
                  </div>
                </div>
              </div>
              <div class="min-w-0 flex-1 py-0">
                <div class="text-md text-gray-500">
                  <div>
                    <span href="#" class="font-medium text-gray-900 mr-2">What was the goal/problem?</span>


                  </div>
                  <!--<div href="#" class="my-0.5 relative inline-flex items-center bg-white rounded-full border border-gray-300 px-3 py-0.5 text-sm">-->
                  <!--<div class="absolute flex-shrink-0 flex items-center justify-center">-->
                  <!--<span class="h-1.5 w-1.5 rounded-full bg-green-500" aria-hidden="true"></span>-->
                  <!--</div>-->
                  <!--<a class="ml-3.5 font-medium text-gray-900"></a>-->
                  <!--<a href="https://en.wikipedia.org/wiki/Multitenancy" target="_blank">Multitenancy</a>-->
                  <!--</div>-->
                </div>
                <div class="mt-2 text-gray-700">
                  <p>I made an application that allows users to build their own website. They do not need to have technical knowledge of how to build a website. Their website is live on the internet and ready for customization immediately after signing up.</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="relative pb-8">
            <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
            <div class="relative flex items-start space-x-3">
              <div>
                <div class="relative px-1">
                  <div class="h-8 w-8 bg-purple-500 rounded-full ring-8 ring-white flex items-center justify-center">
                    <span class="font-thin text-xl text-white">A</span>
                  </div>
                </div>
              </div>
              <div class="min-w-0 flex-1 py-0">
                <div class="text-md text-gray-500">
                  <div>
                    <span href="#" class="font-medium text-gray-900 mr-2">I didn't want to maintain each user's website as a separate application. To do this, I needed to figure out a way to acheive "multitenancy".</span>
                  </div>
                </div>
                <br>
                <div class="mt-2 text-gray-700">
                  <p>The term multitenancy refers to a software architecture in which a single instance of software runs on a server and serves multiple tenants. Each users's data needed to be completely separate from one another. Each user shouldn't be able to edit other user's information, even though all the websites are running through the same application.
                  </p>
                  <br>
                  <hr>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="relative pb-8">
            <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
            <div class="relative flex items-start space-x-3">
              <div>
                <div class="relative px-1">
                  <div class="h-8 w-8 bg-blue-500 rounded-full ring-8 ring-white flex items-center justify-center">
                    <span class="font-thin text-xl text-white">Q</span>
                  </div>
                </div>
              </div>
              <div class="min-w-0 flex-1 py-0">
                <div class="text-md text-gray-500">
                  <div>
                    <a href="#" class="font-medium text-gray-900 mr-2">What was your approach/solution?</a>
                    <br><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="relative pb-8">
            <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
            <div class="relative flex items-start space-x-3">
              <div>
                <div class="relative px-1">
                  <div class="h-8 w-8 bg-purple-500 rounded-full ring-8 ring-white flex items-center justify-center">
                    <span class="font-thin text-xl text-white">A</span>
                  </div>
                </div>
              </div>
              <div class="min-w-0 flex-1 py-0">
                <div class="mt-2 text-gray-700">
                  <p>
                    When a user signs up initially, they are able to choose their own subdomain.
                    For example "solutionsjournalism" is the subdomain of solutionsjournalism.glovertravis.com.
                    If they have a paid subscription, they can choose their own domain like "solutionsjournalism.com".
                    Below is relevant code from the ApplicationController which shows how they are routed based on the domain.
                    If it finds a match, it knows to display the solutionsjournalism website, instead of someone elses website.
                    If no domain matches, it sends them back to a sign-up page. Once the proper domain is identified, it then stores this data in a session variable.
                    Session variables in rails are encrypted by default and cannot be tampered with.
                    All requests to the application inherit from the ApplicationController. Therefore it is impossible for someone to bypass this routing.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>

<div class="mx-12 overflow-auto smalltext grid place-content-stretch self-center rounded-2xl">
  <%= raw rouge_markdown(<<-'EOF'
```ruby
class ApplicationController < ActionController::Base
  before_action :set_current_account
  helper_method :current_account

  def current_account
    return unless session[:current_account_id]
    @current_account ||= Account.find(session[:current_account_id])
  end

  rescue_from CanCan::AccessDenied do |exception|
    redirect_to main_app.root_url, alert: exception.message
  end

  private

  def set_current_account
    if current_user.present?
      # if a user is signed in, use the account associated with it
      current_account = current_user.accounts.last
    else
      # check if domain is present
      if request.domain.present?
        arr = request.domain.split('.')
        if request.domain != Figaro.env.current_domain && request.domain != "www.#{Figaro.env.current_domain}"
          domains = Domain.where(sld: "#{arr.first}", tld: "#{arr.last}")
          domains = LinkedDomain.where(sld: "#{arr.first}", tld: "#{arr.last}") if domains.blank?
          if domains.present?
            current_account = domains.first.account
          else
            current_account = nil
          end
        end
      end
      # if no domain found, check for subdomain
      current_account = Account.find_by(subdomain: request.subdomain) if Account.all.pluck(:subdomain).include?(request.subdomain) if current_account.blank?
      # If no current_account found from either subdomain or domain
      if current_account.blank?
        account = Account.find(1)
        if account.present?
          current_account = account
        end
      end
    end
    session[:current_account_id] = current_account.id
    # return current_account
  end
end
```
          EOF
          ) %>
</div>

<div class="bg-white">
  <div class="max-w-3xl mx-auto p-8 mb-10">
    <div class="grid">
      <ul class="-mb-8">

        <li>
          <div class="relative pb-8">
            <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
            <div class="relative flex items-start space-x-3">
              <div>
                <div class="relative px-1">
                  <div class="h-8 w-8 bg-blue-500 rounded-full ring-8 ring-white flex items-center justify-center">
                    <span class="font-thin text-xl text-white">Q</span>
                  </div>
                </div>
              </div>
              <div class="min-w-0 flex-1 py-0">
                <div class="text-md text-gray-500">
                  <div>
                    <span href="#" class="font-medium text-gray-900 mr-2">How do I make sure that they cant access or edit the information if they visit someone else's website on the server?</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="relative pb-8">
            <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
            <div class="relative flex items-start space-x-3">
              <div>
                <div class="relative px-1">
                  <div class="h-8 w-8 bg-purple-500 rounded-full ring-8 ring-white flex items-center justify-center">
                    <span class="font-thin text-xl text-white">A</span>
                  </div>
                </div>
              </div>
              <div class="min-w-0 flex-1 py-0">
                <div class="text-md text-gray-500">
                  <div>
                    <span href="#" class="font-medium text-gray-900 mr-2">I use a ruby gem called "CanCanCan" for authorization.</span>
                  </div>
                </div>
                <br>
                <div class="mt-2 text-gray-700">
                  <p>
                    Each user has an "account" associated to it upon signing up. Every time a piece of content is created in the system by a user, an account_id is recorded in the database of that piece of content. This makes it easy to authenticate every piece of content requested by the system. If it doesn't match the account id associated with the signed in user (which is set in that session variable above) their request for that information is rejected.
                    Here is a sample of some relevant code:
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="mx-12 overflow-auto smalltext grid place-content-stretch self-center rounded-2xl">
  <%= raw rouge_markdown(<<-'EOF'
```ruby
class Ability
  include CanCan::Ability

  def initialize(user)
    account = Current.account

    if user.present?
      # if a user is signed in
      if user.role == "user"
        can :manage, :all, account_id: user.account_id
        cannot :manage, Account
      end
    else
      # visitors to the site
      can :read, :visitors
      can :read, Cms::Page, account_id: account.id
    end
  end
end
```
          EOF
          ) %>
</div>

<div class="bg-white">
  <div class="max-w-3xl mx-auto p-8 mb-10">
    <div class="grid">
      <ul class="-mb-8">

        <li>
          <div class="relative pb-8">
            <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
            <div class="relative flex items-start space-x-3">
              <div>
                <div class="relative px-1">
                  <div class="h-8 w-8 bg-blue-500 rounded-full ring-8 ring-white flex items-center justify-center">
                    <span class="font-thin text-xl text-white">Q</span>
                  </div>
                </div>
              </div>
              <div class="min-w-0 flex-1 py-0">
                <div class="text-md text-gray-500">
                  <div>
                    <span href="#" class="font-medium text-gray-900 mr-2">Do you have experience working closely with non-technical colleagues in an environment where you were the only developer on the team?</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="relative pb-8">
            <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
            <div class="relative flex items-start space-x-3">
              <div>
                <div class="relative px-1">
                  <div class="h-8 w-8 bg-purple-500 rounded-full ring-8 ring-white flex items-center justify-center">
                    <span class="font-thin text-xl text-white">A</span>
                  </div>
                </div>
              </div>
              <div class="min-w-0 flex-1 py-0">
                <div class="text-md text-gray-500">
                  <div>
                    <span href="#" class="font-medium text-gray-900 mr-2">Yes, extensively!</span>
                  </div>
                </div>
                <br>
                <div class="mt-2 text-gray-700">
                  <p>
                    During my 6 years working at Eminence Healthcare, over 5 of those years I was the sole developer.
                    My supervisors were not technical people, but they were able to articulate what they wanted out of the application.
                    It was up to me to come up with solutions and manage expectations.
                    Interestingly enough, discussing technical solutions to non-technical people helps me understand and work through complex problems better.
                    As Albert Einstein once said "If you can't explain it simply, you don't understand it well enough."
                  </p>
                  <br>
                  <hr>
                </div>
                <br>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <ul class="-mb-8">

        <li>
          <div class="relative pb-8">
            <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
            <div class="relative flex items-start space-x-3">
              <div>
                <div class="relative px-1">
                  <div class="h-8 w-8 bg-blue-500 rounded-full ring-8 ring-white flex items-center justify-center">
                    <span class="font-thin text-xl text-white">Q</span>
                  </div>
                </div>
              </div>
              <div class="min-w-0 flex-1 py-0">
                <div class="text-md text-gray-500">
                  <div>
                    <span href="#" class="font-medium text-gray-900 mr-2">How do you feel about being the sole engineer at a mission-driven nonprofit?</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="relative pb-8">
            <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
            <div class="relative flex items-start space-x-3">
              <div>
                <div class="relative px-1">
                  <div class="h-8 w-8 bg-purple-500 rounded-full ring-8 ring-white flex items-center justify-center">
                    <span class="font-thin text-xl text-white">A</span>
                  </div>
                </div>
              </div>
              <div class="min-w-0 flex-1 py-0">
                <div class="text-md text-gray-500">
                  <div>
                    <span href="#" class="font-medium text-gray-900 mr-2">Making a difference in society is extremely important to me in my career. I'd be honored to work somewhere where making a difference is more important than the company's bottom line.</span>
                  </div>
                </div>
                <br>
                <div class="mt-2 text-gray-700">
                  <p>
                    Beyond that, I feel that journalism is more important now than ever. There has never been more misinformation out there. Targeted and readily available. Journalism is essential in combating misinformation by providing truth and education.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>