
<%= turbo_frame_tag dom_id(@post) do %>
    <h5>Editing Post</h5>
    <hr>
    <%= render 'form', post: @post %>
    <hr>
    <%= link_to 'Show', @post %> |
    <%= link_to 'All Posts', posts_path %>
<% end %>



